@mixin insert-img (){
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin flex-init($direction: row,$align:center, $justify:center, $gap:0) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin init-grid($column, $column-size, $row, $row-size, $gap:0) {
    display: grid;
    grid-template-columns: repeat($column, $column-size);
    grid-template-rows: repeat($row, $row-size);
    gap: $gap;
}

@mixin padding-container {
    // padding: 0 8rem;
    padding: 0 8%;
}